

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: auto;
    height: 100%;

  
    
}

.logo {
    width: 18%;
    padding-top: 0;

}



h2 {
    color: #5e5f5f;
    text-align: center;
    font-size: 20px;
}



form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button, input[type="submit"] {
    background-color: rgb(207, 32, 32);
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    align-items: center;
   
    
}

.boton{
    padding-top: 30px;
    text-align: center;
    padding-bottom: 30px;
    

}

.boton button {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}



table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
}



th, td {

        padding: 12px;
        text-align: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

   
    th {
        background-color:  rgb(207,32,32);
        color: #fff;
    }



.editar{
    color: blue;
}

.estilo-editar{
    color: black;
}


.anterior{
    display: flex;
    justify-content: center;
    align-items: center;
}



/* header  */



header{
    display: flex;
    justify-content: center;
    align-items: center;
}


.header-h1{
 font-style: italic;
 color: rgb(94, 74, 74);
 align-items: center;
 display: flex;
 justify-content: center;
 font-size: 20px;

}

   

.lista-alumnos{
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;

}


/*agregar alumno */

.agregar-alumno{

    max-width: 10%;
    margin:  auto;
    padding-bottom: 30px;
}

/* editar  alumno */

.editar-alumno{

    max-width: 10%;
    margin:  auto;
    padding: 20px;
}


/* footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align:  left;
    font-family: sans-serif;
    font-size: 10px;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  
 

}



.linkusmp{
    color: rgb(245, 233, 233);
}






/* buscar alumno */

#formBusqueda {
    max-width: 300px; /* Ajusta el ancho maximo del formulario */
    margin: 0 auto; /* Centra el formulario horizontalmente */
}

label, input, button {
    display: block; /* Muestra cada elemento en una línea separada */
    margin-bottom: 10px; /* Ajusta el espacio entre elementos */
}

#nombre {
    width: 100%; /* El campo de texto ocupa el ancho completo del formulario */
}

#btnBuscar {
    padding: 5px 10px; /* Ajusta el padding para cambiar el tamaño del boton */
    font-size: 12px; /* Ajusta el tamaño de la fuente del boton según tu preferencia */
    margin: 0 auto; /* Centra el boton horizontalmente */
}



form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}




.bodybuscar{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
.headerbuscando {
    background-color: #f0f0f0;
    color: black;
    padding: 10px;
    text-align: center;

    
}


.resultado-container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
}




        .volver-btn {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            margin-top: 20px; /* Ajusta segun sea necesario */
        }

        .volver-btn a {
            text-decoration: none; /* Evitar subrayado al pasar el cursor */
        }
        


        .resultadosbusqueda{
            text-align: center;
            color: rgb(156, 20, 20);
        }









        
    

  
  

       